<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PiEstimator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>521F1C761EA7F44000EE0920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521F1C871EA7F44000EE0920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521F1C921EA7F44000EE0920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
